.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  text-align: center;
  flex-grow: 1;
}

.nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 1rem;
}

.active {
  color: gray;
}

.inactive {
  color: black;
}
